<!--base.html-->
{% load static some_other_tag %} {# >>1 - Load tags#}
<!DOCTYPE html>
<html>
  <head>
    {# Use inbuilt block tag for variables that we can override from other
    templates #}
    <title>{% block title %}Home{% endblock %}</title>

    {# include
    <meta />
    tags including tags to make your site SEO friendly #}

    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    {# include styling #} <link href="{% static "css/project.css" %}"
    rel="stylesheet"> {% block head_css %} <link href="{% static "css/other.css"
    %}" rel="stylesheet"> {% endblock %} {# include javascript #}
    <script
      defer
      src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v3.0.1/dist/alpine.min.js"
    ></script>
    {% block head_js %}{% endblock %}
  </head>
  <body>
    {% block content %}{% endblock %} {% block footer_js %}{% endblock %}
  </body>
</html>
