body{
  font-family: 'Rubik', sans-serif;
  background-color: #014023;
  color: #f2d194;
  text-align: center;
  border: 40px solid #025928;
  margin: 0px;
}


p{
  padding-top: 5%;
  padding-left: 20%;
  padding-right: 20%;
}

form{
  font-size: 1.5em;
  margin-bottom: 10px;
}

#sub{
  background-color: #f2d194;
  color: #014023;
  border: none;
  padding: 10px;
  font-size: 1.5em;
  margin-top: 10px;
  border-radius: 5px;
}